:8080 {
    handle {
        encode zstd gzip
        try_files {path} {path}.html index.html
        file_server {
            pass_thru
        }
    }
    handle {
        file_server
        rewrite * 200.html
    }
}